<main class="main">
  <div class="container">
    <div class="row">
      <div id="ct100_divCenter" class="center-side col-md-8">
        <%= render "publishers/list_publisher", publisher: @publishers %>
      </div>
      <div id="ct100_divRight" class="right-side col-md-4 cmszone">
        <div class="comic-wrap Module Module-168">
          <div class="ModuleContent">
            <div class="box-tab box darkBox">
            <h2 class="module-title"><b> Publishers duoc follow nhieu nhat </b></h2>
            <div class="tab-pane">
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= will_paginate %>
</main> 